.App {
  text-align: center;
  background:url(https://img.freepik.com/free-photo/global-connections_53876-89039.jpg?size=626&ext=jpg);
  width:626px;
  color:white;
  height:417px;
  display:flex;
  border-radius: 30px;
  flex-direction: column;
}
.Title{
  color: rgb(255, 250, 240);
  display: flex;
  font-size: 25px;
  font-weight: 700;
  justify-content: flex-end;
  margin:0px 150px;
}

